:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html, body, #app, #grain, #balls{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

body > svg.hidden {
  height: 0;
  width: 0;
  position: absolute;
  /* display: none; */
}

header{
  --logo-dim: 55px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: var(--logo-dim);
  width: var(--logo-dim);
  a{
    display: block;
    width: 100%;
    height: 100%;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  padding: 0.7rem 1.2rem;
  font-weight: bolder;
  color: rgb(186, 255, 218);
  a {
    color: rgb(186, 255, 218);
  }
  border-top-right-radius: 8px;
}

a.fullscreen{
  cursor: pointer;
  text-decoration-line: underline;
}

:fullscreen {
  *{
    cursor: none;
  }

  header, footer{
    display: none;
  }
}

#grain{

  /* to prevent shadow on the edges of #balls we should put this here */
  overflow: hidden;
  

  /* https://grainy-gradients.vercel.app/ */
  filter: contrast(150%);
  background: 
    radial-gradient(circle at 50% 50%, rgba(0,0,0,.7), rgba(0,0,0,.6)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 277 277' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
    ;
    
}

#balls{

  /* Tuning this on will add shadow to the frame */
  /* overflow: hidden; */
  
  /* safari doesn't work */
  /* https://github.com/baunov/gradients-bg */
  /* url(#goo)  */
  filter: 
    url(#goo)
    blur(20px)
    ;

  
}

.ball{

  --width: 0px;
  --height: 0px;
  --color: '#000000';
  --pos-x: '#000000';
  --pos-y: '#000000';
  --blur: 0px;
  
  
  border-radius: 50%;
  mix-blend-mode: screen;
  filter: blur(75px);
  display: block;
  position: fixed;
  transform: translate3d(-50%, -50%, 0);
  width: var(--width);
  height: var(--height);

  /* background: rgba(var(--color),0.5); */
  background: radial-gradient(circle at center, rgba(var(--color), 0.9) 0%, rgba(var(--color), 0) 100%) no-repeat;

  top: var(--pos-y);
  left: var(--pos-x);;
}

/* safari only */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {

  #balls{
    filter: url(#goosafari);
  }

  .ball{
    mix-blend-mode: plus-lighter;
    /* mix-blend-mode: lighten; */
    filter: blur(75px);
  }
  
}